# Python
__pycache__/
*.py[cod]
*.sqlite3
*.db              # ⬅️ evita subir cualquier BD SQLite (incluye deotramano.db)
venv/
.env
.env.*            # ⬅️ evita .env.local, .env.prod, etc.

# Node
frontend/node_modules/
frontend/.env
frontend/.env.*

# Build del frontend
frontend/dist/

# Editor/OS
.DS_Store
.idea/
.vscode/
ssh-keygen*
